body {
  background:white;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header nav,a{
  color:red;
  text-decoration:none;
  padding:5px;
}

header { 
  background: #f9e933;
  overflow: auto;
}

header h1{
   font-family:Ubuntu;
   font-weight:bold;
   font-style:italic;
   color:red;
   font-size:30px;
   float:left;
}

header h1,h2,h3,h4{
  font-family:Ubuntu;
  font-weight:bold;
  padding-top:20px;
  padding-bottom:20px;
  float: left;
  width: 570px;
}

header nav {
  float: right;
  padding:20px;
}

main {
  background: white;
  overflow: auto;
}

main .left p, ul{
  font-family:Droid Sans;
 <!-- padding-top:10px;-->
}

main .left {
  float: left;
  width: 570px;
}

main .left li{
  padding:10px;
}

main .right {
  float: right;
  width: auto;
}
class
main .container{
  color:black;
}

input[type=submit]{
  padding:10px 20px;
  margin:4px 2px;
  text-decoration:none;
  color:black;
  border:none;
  Background-color:#ff4800;
}

input[type=text], input[type=password]{
class  padding:5px 2px;
  margin:4px 4px;
  text-align:left;
  
}

footer .left {
  float: left;
  width: 470px;
  padding:10px;
}

footer .sitemap {
  width:470px;
 padding-top:15px;
  
}

footer .contact h5{

  font-family:Ubuntu;
  font-weight:bold;
  float:left;
}

footer .sitemap h5{
  font-family:Ubuntu;
  font-weight:bold;
  text-align:center;
}

footer .contact p{
  color: red;
  font-family:Droid Sans;
  padding-top:10px;
  
}

footer .container .sitemap .col_1{
  float:left;
}

footer .container .sitemap .col_2{
  float:right;

}

footer .sitemap li{
  padding-top:5px;
}

